.form {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  .inputs {
    margin-top: 30px;
    width: 500px;
    padding: 15px;
  }
  .personsPreview {
    background-color: #bbbbbb;
    min-width: 800px;
    padding: 10px;
    position: relative;
    display: flex;
    margin-top: 30px;

    .tableTop {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      overflow: scroll;
      width: 100%;
      gap: 10px;
      position: relative;
      height: 500px;
      margin-bottom: 10px;
      .currentInputResult {
        display: flex;
        i {
          position: absolute;
          right: 20px;
          font-size: 20px;
        }
        align-items: center;
        gap: 10px;
        width: 300px;
      }
      .topName {
        margin-left: 50px;
      }
      .topId {
        width: 30px;
      }
    }

    .tableLine {
      display: flex;
      margin-top: 20px;
      align-items: center;
      position: relative;
      padding-right: 30px;

      .tableName {
        margin-left: 50px;
      }
      .tableId {
        width: 30px;
      }
    }
  }

  .addPerson {
    margin-top: 20px;
  }

  .personInput {
    padding: 7px;
    outline: none;
  }

  .addBtn {
    padding: 9px 12px;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-left: 10px;
    outline: none;
    background-color: #818181;
  }

  img {
    width: 50px;
  }

  .public {
    margin-top: 20px;
    padding: 20px;
    border: none;
    font-size: 16px;
    color: #fff;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(135, 135, 135);
  }

  .input {
    line-height: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
    padding: 9px 14px;
    border-radius: 5px;
    width: 272px;
    border: none;
    outline: none;
    margin-right: 13px;
  }

  .inputResults {
    width: 300px;
    border-radius: 5px;
    max-height: 277px;
    margin-top: 7px;
    overflow: scroll;
    padding: 11px 0px;
    background-color: #fff;
    color: #000;
    &::-webkit-scrollbar {
      display: none;
    }

    .notFound {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 102px;
      padding: 0px 48px;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      opacity: 0.6;
    }

    .currentInputResult {
      cursor: pointer;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s;

      img {
        width: 36px;
      }
      .currentResultInfo {
        margin-left: 10px;

        display: flex;
        flex-direction: column;
        p {
          font-weight: 500;
          font-size: 15px;
        }

        div {
          display: flex;
          margin-top: 5px;
          font-size: 13.5px;
        }
      }
      &:hover {
        background-color: rgb(229, 229, 229);
      }
    }
  }
}
