.footer {
  color: #ffffff80;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  padding: 20px 60px;
  display: flex;
  background-color: #000;
  justify-content: space-between;

  align-items: center;
  position: relative;
  z-index: 2;

  .footerAbout {
    width: 900px;

    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
  }
  span {
    font-size: 14px;
    font-weight: 300;
  }
}

@media (max-width: 700px) {
  .footer {
    padding: 20px 30px 80px !important;
  }

  .adaptiveTitle {
    display: none;
  }
}
